@font-face {
  font-family: Inika-Regular-400;
  src: url("../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: Inter-Bold-700;
  src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: Inter-Light-300;
  src: url("../fonts/Inter-Light.ttf");
}
@font-face {
  font-family: Inter-Regular-400;
  src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter-SemiBold-600;
  src: url("../fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: Inika-Bold-700;
  src: url("../fonts/Inika-Bold.ttf");
}
:root {
  /* color  */
  --alpha-color: #499a18;
  --beta-color: #e06733;
  --gamma-color: #717171;
  --delta-color: #636060;
  --epsilon-color: #edf2ec;
  --zeta-color: #010201;
  --eta-color: #e3e1d5;
  --theta-color: #d9d9d9;
  --iota-color: #d6e7d2;
  --kappa-color: #aea1a1;
  /* --lambda-color: hotpink;  */
}
* {
  /*  border: 1px solid #f00;*/
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: Inter-Regular-400;
  color: var(--delta-color);
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  background-color: var(--epsilon-color);
}
.header__container {
  display: flex;
  padding-bottom: 42px;
  padding-right: 109px;
  padding-left: 109px;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.nav__list {
  display: flex;
}
.logo__section {
  display: flex;
  align-items: flex-start;
  margin-right: auto;
  padding-top: 58px;
}
.logo__section-img > img {
  padding-top: 53px;
}
.logo__section-text {
  font-family: Inika-Regular-400;
}
.nav {
  padding-top: 58px;
}
.nav__link {
  font-family: Inika-Bold-700;
  color: var(--zeta-color);
}
.nav__item {
  margin-right: 48px;
}
.nav__item:last-child {
  margin-right: 0px;
}
.nav__link.active {
  font-family: Inika-Bold-700;
  color: var(--beta-color);
}
.welcome {
  display: flex;
  margin-top: 62px;
  padding-bottom: 42px;
  padding-right: 109px;
  padding-left: 109px;
}
.welcome-text-section {
  padding-top: 20px;
}
.welcome-title {
  font-family: Inter-Regular-400;
  font-size: 45px;
  line-height: 50px;
  word-spacing: 4px;
}
.welcome-img {
  padding-right: 225px;
}
.welcome-text {
  padding-top: 14px;
  font-size: 20px;
  line-height: 35px;
  max-width: 537px;
  margin-bottom: 47px;
}
.text-green {
  color: var(--alpha-color);
}
.text-orange {
  color: var(--beta-color);
}
.welcome-button {
  border: 2px solid var(--beta-color);
  border-radius: 10px;
  padding: 11px 26px;
}
.about {
  display: flex;
  padding-top: 92px;
  padding-right: 109px;
  padding-left: 109px;
  padding-bottom: 90px;
  justify-content: space-between;
}
.about-text-box {
  max-width: 603px;
  padding-top: 36px;
}
.about-text-box-title {
  font-family: Inika-Regular-400;
  font-size: 40px;
  line-height: 52px;
  min-width: 440px;
}
.about-text-box-text {
  font-family: Inter-Regular-400;
  font-size: 20px;
  line-height: 30px;
  padding-top: 4px;
}
.service {
  background-color: var(--epsilon-color);
}
.service__section-header {
  display: flex;
  padding-top: 10px;
  margin-bottom: 44px;
}
.service__section {
  padding-right: 109px;
  padding-left: 109px;
  padding-bottom: 65px;
}
.service__section-title {
  font-family: Inika-Regular-400;
  font-size: 40px;
  line-height: 52px;
  max-width: 306px;
  margin-right: 142px;
}
button {
  cursor: pointer;
}
.service__section-button-block {
  margin-top: 60px;
}
.service__section-button {
  color: var(--beta-color);
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid var(--beta-color);
  border-radius: 5px;
  font-size: 20px;
  line-height: 26px;
  margin-right: 34px;
  width: 161px;
}
.service__section-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service__section-card {
  margin-bottom: 35px;
}
.service__section-card-title {
  color: var(--beta-color);
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding-top: 6px;
}
.service__section-card-text {
  margin-top: 0;
  padding-top: 15px;
  margin-bottom: 36px;
}
.service__section-card-text-block {
  box-sizing: border-box;
  border: 1px solid var(--eta-color);
  border-top: 0;
  border-radius: 0px 0px 20px 20px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 21px;
}
.price {
  padding-right: 109px;
  padding-left: 109px;
  padding-bottom: 114px;
}
.price-wrapper {
  display: flex;
  justify-content: space-between;
}
.price_dropdown-block {
  border-radius: 20px;
  border: 1px solid var(--eta-color);
  padding: 34px 41px;
}
.price_dropdown {
  font-family: Inter-Bold-700;
  font-size: 20px;
  line-height: 20px;
  color: var(--zeta-color);
  background-color: var(--epsilon-color);
  padding-left: 40px;
  padding-top: 16px;
  padding-bottom: 14px;
  border-radius: 20px;
  margin-bottom: 32px;
  min-width: 210px;
  display: flex;
  justify-content: space-between;
}
.price_dropdown:last-child {
  margin-bottom: 0;
}

.price-title {
  color: var(--zeta-color);
  font-size: 40px;
  font-family: Inter-Bold-700;
  line-height: 48px;
  margin-top: 40px;
}
.price-title-1 {
  margin-bottom: 60px;
}
.price-title-2 {
  max-width: 452px;
  text-align: right;
  line-height: 50px;
}
.price-button {
  border: 2px solid var(--beta-color);
  color: var(--beta-color);
  border-radius: 10px;
  padding: 12px 32px;
  margin-left: 10px;
  background-color: transparent;

  margin-top: 5px;
  font-family: Inika-Bold-700;
  font-size: 20px;
  line-height: 26px;
}
.price-image {
  width: 156px;
  height: 180px;
  margin-top: 35px;
}
.price__right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price-circle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  z-index: 2;
  background-color: var(--theta-color);
  right: 40px;
  position: relative;
}
.price-circle:before {
  position: absolute;
  content: "";
  background-image: url("../img/arrow.svg");
  background-size: contain;
  height: 6px;
  width: 12px;
  background-repeat: no-repeat;
  display: inline-block;
  top: 6px;
  right: 1px;
}
.contacts {
  background-color: var(--epsilon-color);
}
.contacts-image {
  height: 497px;
  width: 400px;
  padding-top: 50px;
}
.contacts_wrapper {
  padding-right: 109px;
  padding-left: 109px;
  display: flex;
  justify-content: space-between;
}
.contacts-title {
  font-family: Inika-Bold-700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 24px;
  padding-left: 44px;
}
.contacts_dropdown {
  font-family: Inter-Regular-400;
  font-size: 20px;
  line-height: 40px;
  color: var(--gamma-color);
  background-color: var(--iota-color);
  padding-left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 148px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-bottom: 32px;
  min-width: 430px;
  max-height: 40px;
  display: flex;
  justify-content: space-between;
}
.contacts-circle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  z-index: 2;
  background-color: var(--kappa-color);
  right: 35px;
  top: 10px;
  position: relative;
}
.contacts-circle:before {
  position: absolute;
  content: "";
  background-image: url("../img/arrow.svg");
  background-size: contain;
  height: 6px;
  width: 12px;
  background-repeat: no-repeat;
  display: inline-block;
  top: 6px;
  right: 1px;
}
.footer-wrapper {
  padding-right: 109px;
  padding-left: 109px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer__social {
  display: flex;
}
.footer-title {
  font-family: Inter-Regular-400;
  font-size: 20px;
  line-height: 50px;
  color: var(--zeta-color);
}
.footer-date-block {
  display: flex;
  font-size: 20px;
  line-height: 50px;
  font-family: Inter-Regular-400;
}
.footer-date-block-1 {
  margin-right: 20px;
}
.footer-date-block-2 {
  margin-right: 20px;
}
.footer-title {
  margin-top: 20px;
  margin-left: 20px;
}
.footer__social {
  margin-top: 30px;
}
.image__footer-4 {
  margin-left: 20px;
}
.image__footer-3 {
  margin-left: 20px;
}
.image__footer-2 {
  margin-left: 20px;
}
